.container {
	width: 100%;
	max-width: 1200px;
	min-height: 100vh;
	padding: 50px 15px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: rgb(213,1,48);
	background: linear-gradient(90deg, 
		rgba(213,130,83,0.7) 0%,
		rgba(210,80,120,0.7) 60%);
}

@media (max-width: 450px) {
	.container {
		padding: 8px;
	}
}